config.json
docker-backup
docker-backup.cmd
docker-compose-debug
docker-compose-debug.cmd
docker-compose-debug.yml
docker-compose.yml
.dockerignore
docker_packages.txt
docker_script.sh
forEach
forEach.cmd
.idea
karma.conf.js
lineup.js
node_modules
package.json
package-lock.json
phovea_registry.js
requirements_dev.txt
requirements.txt
tsconfig.json
tsd.d.ts
tslint.json
webpack.config.js
withinEnv
withinEnv.cmd
.yo-rc-workspace.json
*~