<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>RanKit</title>
	<meta name="description" content="Blueprint: On-Scroll Animated Header" />
	<meta name="keywords" content="fixed header, animatied header, javascript, wed design, template, on scroll" />
	<meta name="author" content="Codrops" />
	<link rel="shortcut icon" href="../favicon.ico">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/default.css') }}" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/component.css') }}" />
	<script src="js/modernizr.custom.js"></script>

	<style>
		.barHover:hover {
			background-color: beige;
			color: white;
		}

		.dataset-container {
			padding: 12px;
		}

		.dataset {
			background: white;
			border: 1px solid #4CAF50;
			margin: 12px;
			padding: 12px;
			text-align: center;
			font-size: 20px;
			width: 30%;
			height: 200px;
		}



		.dataset a {
			text-decoration: none;
		}

		span {
			color: #4CAF50;
		}

		.buttonHover:hover {
			background-color: beige;
		}

	</style>

</head>

<body>
	<div class="container">

		<div class="cbp-af-header">
			<div class="cbp-af-inner">
				<h1>RanKit</h1>
				<nav>
					<a href="index.html">Home</a>
					<a href="AboutPage.html">About</a>
					<a href="TeamPage.html">Contact Our Team</a>
					<a href="modal_log_in.html">Login</a>
				</nav>
			</div>
		</div>

		<header class="clearfix">
			<h1>Visualize Build Explore</h1>
		</header>

		<div class="main">

				<section class="intro">
					<!-- If you want the video to loop -->
					<!-- <video width="100%" height="100%" autoplay="true" muted loop id="bgvid"> -->
						<!-- If just one animation -->
						<video width="100%" height="100%" autoplay="true">
						<source src="{{ url_for('static',filename='Video/weblogo.webm') }}" type="video/webm">
					</video>
					<div class="inner">
						<div class="content">
						</div>
					</div>

			</section>
			<section>
				<div>
					<p>Datasets</p>
				</div>
				<div>
					<div class="row dataset_container">
						<button class="dataset buttonHover">
									<a href="#">
										<span>Legatum Prosperity Index</span>
									</a>
								</button>
						<button class="dataset buttonHover">
									<a href="#">
										<span>University Rankings</span>
									</a>
								</button>
						<button class="dataset buttonHover">
									<a href="#">
										<span>SP500 2015-06-26</span>
									</a>
								</button>
					</div>
				</div>
			</section>
			<section>
				<div>
					<p>Tools</p>
				</div>
				<div>
					<div class="row dataset_container">
						<button onclick="window.location='http://localhost:8080';" class="dataset buttonHover" style="width: 100%;">
									<a >
										<span>Visualize</span>
									</a>
								</button>
						<button class="dataset buttonHover" style="width: 100%;">
									<a href="#">
										<span>Build</span>
									</a>
								</button>
					</div>
				</div>
			</section>
		</div>
	</div>
	<script src="js/classie.js"></script>
	<script src="js/cbpAnimatedHeader.min.js"></script>
</body>

</html>
