<!DOCTYPE html>
<html lang="en">
<head>
  <title>About RANKIT</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/about.css') }}"/>
</head>

{% extends 'base.html' %}
{% block content %}

<div>
  <div class="card">
    <br>
    <h2 class="topic">-About the Project-</h2>
    <section class="card card-lg ">
      <div id="band" class="text-center">
        <p>
          RANKIT is an online ranking application that provides solutions for analyzing
          and exploring rankings. The system uses machine learning to automatically construct
          rankings based on partial input from users. Intuitive interfaces allow for the effective
          building, exploring, and explaining of rankings.
        </p>
        <p>
          Rankings are a fundamental tool used to help people understand the relative merit of
          objects or choices. They are employed to simplify decision making when the number of
          factors impacting choice is large. Our mission is to provide a user-driven ranking
          system to allow non-expert users to better understand the explanatory power of ranking
          models for socioeconomic outcomes.
        </p>
        <br>
      </div>
    </section>
  </div>

  <div class="card">
    <h2 class="topic">-Meet the Team-</h2>
    <section class="card card-lg ">

      <div class="row">
        <div class="column">
          <div class="cardInner">
            <img src="{{ url_for('static',filename='images/diana.jpg') }}">
            <br>
            <div class="container">
              <h2>Diana Doherty</h2>
              <p class="title">Developer</p>
            </div>
            <br>
          </div>
        </div>

        <div class="column">
          <div class="cardInner">
            <img src="{{ url_for('static',filename='images/goutham.jpg') }}">
            <br>
            <div class="container">
              <h2>Goutham Deva</h2>
              <p class="title">Developer</p>
            </div>
            <br>
          </div>
        </div>

        <div class="column">
          <div class="cardInner">
            <img src="{{ url_for('static',filename='images/malika.jpg') }}">
            <br>
            <div class="container">
              <h2>Malika Nurbekova</h2>
              <p class="title">Developer</p>
            </div>
            <br>
          </div>
        </div>

        <div class="column">
          <div class="cardInner">
            <img src="{{ url_for('static',filename='images/zarni.jpg') }}">
            <br>
            <div class="container">
              <h2>Zarni Phyo</h2>
              <p class="title">Developer</p>
            </div>
            <br>
          </div>
        </div>

        <div class="column">
          <div class="cardInner">
            <img src="{{ url_for('static',filename='images/kuhlman.jpg') }}">
            <br>
            <div class="container">
              <h2>Caitlin Kuhlman</h2>
              <p class="title"> PhD Student Advisor</p>
            </div>
            <br>
          </div>
        </div>

        <div class="column">
          <div class="cardInner">
            <img src="{{ url_for('static',filename='images/elkeRundensteiner.jpg') }}">
            <br>
            <div class="container">
              <h2>Elke Rundensteiner</h2>
              <p class="title">Professor Advisor</p>
            </div>
            <br>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div class="card">
    <h2 class="topic">-Contact Us-</h2>
    <section class="card card-lg ">
      <div id="band" class="container text-center">
        <p>You can email us at <a href="mailto:iqpanalyticsteam@wpi.edu?Subject=RANKIT%20Questions" target="_top">iqpanalyticsteam@wpi.edu</a></p>
        <br>
      </div>
    </section>
  </div>
</div>

{% endblock %}

</html>
