.bar-chart-bar {
    background-color: #e8e8e8;
    display: block;
    position:relative;
    width: 100%;
    height: 20px;
}
.bar {
    float: left;
    height: 100%;
}
.bar1 {
    background-color: green;
}
.bar2 {
    background-color: yellow;
}
.bar3 {
    background-color: red;
}
.bar4 {
    background-color: blue;
}
.bar5 {
    background-color: black;
}
.bar6 {
    background-color: purple;
}
