/* General Blueprint Style */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-family: 'bpicons';
	src:url('../fonts/bpicons/bpicons.eot');
	src:url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/bpicons/bpicons.woff') format('woff'),
		url('../fonts/bpicons/bpicons.ttf') format('truetype'),
		url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
	font-weight: normal;
	font-style: normal;
} /* Made with http://icomoon.io/ */

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
	margin-left:auto;
	margin-right:auto;

}
.clearfix:after { clear: both; }

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
}

a {
	color: #f0f0f0;
	text-decoration: none;
}

a:hover {
	color: #000;
}

.container {
	position: relative;
}

.container > header,
.main section > div {
	width: 90%;
	max-width: 69em;
	margin: 0 auto;
}

.container > header h1 {
	font-size: 2.125em;
	line-height: 1.3;
	margin: 0 0 0.6em 0;
	float: left;
	font-weight: 400;
}

.container > header > span {
	display: block;
	position: relative;
	z-index: 9999;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	padding: 0 0 0.6em 0.1em;
}

.container > header > span span:after {
	width: 30px;
	height: 30px;
	left: -12px;
	font-size: 50%;
	top: -8px;
	font-size: 75%;
	position: relative;
}

.container > header > span span:hover:before {
	content: attr(data-content);
	text-transform: none;
	text-indent: 0;
	letter-spacing: 0;
	font-weight: 300;
	font-size: 110%;
	padding: 0.8em 1em;
	line-height: 1.2;
	text-align: left;
	left: auto;
	margin-left: 4px;
	position: absolute;
	color: #fff;
	/*background: #4CAF50;*/
}

.container > header nav {
	float: right;
	text-align: center;
}

.container > header nav a {
	display: inline-block;
	position: relative;
	text-align: left;
	width: 2.5em;
	height: 2.5em;
	background: #fff;
	border-radius: 50%;
	margin: 0 0.1em;
	/*border: 4px solid #4CAF50;*/
}

.container > header nav a > span {
	display: none;
}

.container > header nav a:hover:before {
	content: attr(data-info);
	/*color: #4CAF50;*/
	position: absolute;
	width: 600%;
	top: 120%;
	text-align: right;
	right: 0;
	pointer-events: none;
}

.container > header nav a:hover {
	/*background: #4CAF50;*/
}

.bp-icon:after {
	font-family: 'bpicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-align: center;
	color: #4CAF50;
	-webkit-font-smoothing: antialiased;
}

.container > header nav .bp-icon:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	line-height: 2;
	text-indent: 0;
}

.container > header nav a:hover:after {
	color: #fff;
}

.bp-icon-next:after {
	content: "\e000";
}
.bp-icon-drop:after {
	content: "\e001";
}
.bp-icon-archive:after {
	content: "\e002";
}
.bp-icon-about:after {
	content: "\e003";
}
.bp-icon-prev:after {
	content: "\e004";
}

.main > section:nth-child(even) {
	background: #4CAF50;
	color: #fff;
}

.main section:first-child > div {
	padding-top: 0em;
}

.main section p {
	margin: 0;
	padding: 1em 0;
	font-size: 1.3em;
	line-height: 1.5;
}

@media screen and (max-width: 55em) {

	.container > header h1,
	.container > header nav {
		float: none;
	}

	.container > header > span,
	.container > header h1 {
		text-align: center;
	}

	.container > header nav {
		margin: 0 auto;
	}

	.container > header > span {
		text-indent: 30px;
	}

	.main section p {
		padding: 2em 5%;
		font-size: 1.4em;
	}
}

.footer {
	background:#181818;
	text-align: center;
	font-size: 120%;
	color:#E3F2F4;
}

.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 768px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

@media only screen and (min-width: 768px) {
  .cd-scrolling-bg {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 2;
    font-weight: 300;
  }
}

.titles {
	font-size: 40px;
	/* font-size: 50px; */
	margin-bottom: 0;
	font-weight: 800;
	line-height: 72px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff
}

.titles-purple{
	font-size: 30px;
	margin-bottom: 0;
	font-weight: 800;
	line-height: 72px;
	text-align: center;
	color: #2980B9
}

#x{
	text-decoration-color: #23A6D5;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.container text-center {
	text-align: center;
}

.purple {
	background-color:#2980B9
}

#get-started.semi-transparent-button, #see-full-list.semi-transparent-button, .semi-transparent-button{
	display: block;
	box-sizing: border-box;
	margin: 25px auto;
	padding: 8px;
	width: 12em;
	background-color: rgba(200, 200, 200, 0.3);
	border-radius: 2px;
	border-color: rgba(200, 200, 200, 0.3);
	color: #fff;
	text-align: center;
	text-decoration: none;
	letter-spacing: 1px;
	transition: all 0.3s ease-out;
	border: 1px solid rgba(200, 200, 200, 0.3);
	text-decoration-color: white;
	text-transform: uppercase;
}

#get-started.semi-transparent-button:hover, #see-full-list.semi-transparent-button:hover, .semi-transparent-button:hover{
	border: 1px solid white;
}

.white {
	background-color: #FfFfFf
}

.col-item {
width: 49%;
margin-right: 2%;
margin-bottom: 15px;
padding: 5px;
box-sizing: border-box;
}

.col-item:nth-child(2n) {
margin-right: 0;
padding-right: 0;
}

.col-item:nth-last-child(2),
.col-item:last-child {
margin-bottom: 0;
}

.wrapper {
display: flex;
flex-wrap: wrap;
position: relative;
background-color: #FfFfFf;
margin-left: 70px;
margin-right: 70px;

}

.wrapper:after {
content: "";
position: absolute;
top: 0;
left: calc(50% - 1px);
height: 100%;
border-right: 4px solid grey;
}

hr.style-four {
	height: 12px;
	border: 0;
	box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.page-header h1 {
	text-align: center;
	color: #333;
	font-size: 80px;
}

.dataset {
	background: white;
	border: 1px solid #4CAF50;
	margin: 12px;
	padding: 12px;
	text-align: center;
	font-size: 20px;
	width: 30%;
	height: 200px;
}

.dataset a {
	text-decoration: none;
}

.image {
	position: relative;
	width: 100%;
}

.inverse {
	margin: 0;
	padding: 1em 0;
	font-size: 1.3em;
	line-height: 1.5;
	text-align: center;
	color: #777777;
}

.grid {
		padding: 10px 20px 80px 20px;
		max-width: 1300px;
		margin: 0 auto;
		list-style: none;
		text-align: center;
	}

	.grid li {
		display: inline-block;
		width: 440px;
		margin: 0;
		padding: 20px;
		text-align: left;
		position: relative;
	}

	.grid figure {
		margin: 0;
		position: relative;
	}

	.grid figure img {
		max-width: 100%;
		display: block;
		position: relative;
	}

	.grid figcaption {
		position: absolute;
		top: 0;
		left: 0;
		padding: 20px;
		background: #2c3f52;
		color: rgba(231,76,60, 1);
	}

	.grid figcaption h3 {
		margin: 0;
		padding: 0;
		color: #fff;
	}

	.grid figcaption span:before {
		/*content: 'by ';*/
	}

	.grid figcaption a {
		text-align: center;
		padding: 5px 10px;
		border-radius: 2px;
		display: inline-block;
		background: rgba(231,76,60, 1);
		color: #fff;
	}

	/* Caption Style for Dataset boxes */
	.cs-style-4 li {
		-webkit-perspective: 1700px;
		-moz-perspective: 1700px;
		perspective: 1700px;
		-webkit-perspective-origin: 0 50%;
		-moz-perspective-origin: 0 50%;
		perspective-origin: 0 50%;
	}

	.cs-style-4 figure {
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}

	.cs-style-4 figure > div {
		overflow: hidden;
	}

	.cs-style-4 figure img {
		-webkit-transition: -webkit-transform 0.4s;
		-moz-transition: -moz-transform 0.4s;
		transition: transform 0.4s;
	}

	/*.cs-style-4 figure:hover img,*/
	/*.cs-style-4 figure.cs-hover img {*/
		/*-webkit-transform: translateX(25%);*/
		/*-moz-transform: translateX(25%);*/
		/*-ms-transform: translateX(25%);*/
		/*transform: translateX(25%);*/
	/*}*/

	.cs-style-4 figcaption {
		height: 100%;
		width: 50%;
		opacity: 1;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		backface-visibility: hidden;
		/*-webkit-tra#ed4e6erigin: 0 0;*/
		/*-webkit-transform: rotateY(-90deg);*/
		/*-moz-transform: rotateY(-90deg);*/
		/*transform: rotateY(-90deg);*/
		/*-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;*/
		/*-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;*/
		/*transition: transform 0.4s, opacity 0.1s 0.3s;*/
	}

	/*.cs-style-4 figure:hover figcaption,*/
	/*.cs-style-4 figure.cs-hover figcaption {*/
		/*opacity: 1;*/
		/*-webkit-transform: rotateY(0deg);*/
		/*-moz-transform: rotateY(0deg);*/
		/*transform: rotateY(0deg);*/
		/*-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;*/
		/*-moz-transition: -moz-transform 0.4s, opacity 0.1s;*/
		/*transition: transform 0.4s, opacity 0.1s;*/
	/*}*/

	.cs-style-4 figcaption a {
		position: absolute;
		bottom: 20px;
		right: 20px;
		border: 1px solid rgba(231,76,60, 1);
		width: 76px;
	}

	.cs-style-4 figcaption a:hover {
		text-decoration: none;
		text-transform: capitalize;
		color: #fff;
		cursor: pointer;
		border: 1px solid white;
	}

	.cs-style-4 figcaption a.one {
		position: absolute;
		bottom: 100px;
		right: 30px;
	}

	.cs-style-4 figcaption a.two {
		position: absolute;
		bottom: 60px;
		right: 30px;
	}

	.cs-style-4 figcaption a.lineup {
		position: absolute;
		bottom: 60px;
		right: 20px;
	}

	@media screen and (max-width: 31.5em) {
		.grid {
			padding: 10px 10px 100px 10px;
		}
		.grid li {
			width: 100%;
			min-width: 300px;
		}
	}

/* Animation for intro header */

.cd-intro-content h1,
.cd-intro-content h1 span,
.cd-intro-content p,
.cd-intro-content .cd-btn {
  opacity: 0;
  -webkit-animation-duration: 0.8s;
  -moz-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.no-cssanimations .cd-intro-content h1, .no-cssanimations
.cd-intro-content h1 span, .no-cssanimations
.cd-intro-content h2,
.cd-intro-content p, .no-cssanimations
.cd-intro-content .cd-btn {
  opacity: 1;
}


/* Reveal Effect */

.reveal.cd-intro-content h1 {
  position: relative;
  /* overwrite default style */
  opacity: 1;
  font-weight: 700;
  /* <h1> text is not visible - it is used only as a container for the ::after element */
  color: transparent;
  overflow: hidden;
}
.reveal.cd-intro-content h1::after {
  /* this is the animated text */
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #ffffff;
  opacity: 0;
  -webkit-animation-name: cd-reveal-up;
  -moz-animation-name: cd-reveal-up;
  animation-name: cd-reveal-up;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.no-cssanimations .reveal.cd-intro-content h1::after {
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .reveal.cd-intro-content h1 {
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px);
  }
}

.reveal.cd-intro-content p {
  position: relative;
  -webkit-animation-name: cd-reveal-down;
  -moz-animation-name: cd-reveal-down;
  animation-name: cd-reveal-down;
}

.reveal.cd-intro-content h1::after,
.reveal.cd-intro-content p {
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.reveal.cd-intro-content .action-wrapper {
  position: relative;
  overflow: hidden;
}

.reveal.cd-intro-content .action-wrapper::before {
  /* this is the loading bar */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #202e4a;
  -webkit-animation: cd-loading 0.4s 0.3s backwards;
  -moz-animation: cd-loading 0.4s 0.3s backwards;
  animation: cd-loading 0.4s 0.3s backwards;
}

.reveal.cd-intro-content .action-wrapper .cd-btn {
  display: block;
  opacity: 1;
  max-width: 200px;
  margin: 1em auto 0;
}
@media only screen and (min-width: 768px) {
  .reveal.cd-intro-content .action-wrapper .cd-btn {
    display: inline-block;
    margin: 0 0 0 1em;
  }
}

@-webkit-keyframes cd-reveal-up {
  0% {
    opacity: 1;
    -webkit-transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes cd-reveal-up {
  0% {
    opacity: 1;
    -moz-transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@keyframes cd-reveal-up {
  0% {
    opacity: 1;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes cd-reveal-down {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes cd-reveal-down {
  0% {
    opacity: 1;
    -moz-transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@keyframes cd-reveal-down {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes cd-loading {
  0% {
    -webkit-transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
  }
}
@-moz-keyframes cd-loading {
  0% {
    -moz-transform: scaleX(0);
  }
  100% {
    -moz-transform: scaleX(1);
  }
}
@keyframes cd-loading {
  0% {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
  }
}

/* mask effect */

.mask.cd-intro-content h1 {
  position: relative;
  padding-bottom: 10px;
  /* overwrite default style */
  opacity: 1;
  font-weight: 700;
  /* <h1> text is not visible - it is used only as a container for the ::after element */
  color: transparent;
  overflow: hidden;
}

.mask.cd-intro-content h1::after {
  /* this is the animated text */
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #ffffff;
  -webkit-animation-name: cd-reveal-up;
  -moz-animation-name: cd-reveal-up;
  animation-name: cd-reveal-up;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}
.mask.cd-intro-content h1 span {
  position: relative;
  display: inline-block;
  opacity: 1;
}
.mask.cd-intro-content h1 span::before {
  /* this is the loading bar */
  content: '';
  position: absolute;
  top: calc(100% + 8px);
  left: -1em;
  height: 2px;
  width: calc(100% + 2em);
  background-color: #ffffff;
  -webkit-animation: cd-loading-mask 1s 0.3s both;
  -moz-animation: cd-loading-mask 1s 0.3s both;
  animation: cd-loading-mask 1s 0.3s both;
}
@media only screen and (min-width: 768px) {
  .mask.cd-intro-content h1 {
    padding-bottom: 20px;
  }
  .mask.cd-intro-content h1 span::before {
    top: calc(100% + 18px);
  }
}

.mask.cd-intro-content p {
  position: relative;
  margin: 0;
  padding: 10px 0 0;
  -webkit-animation-name: cd-reveal-down;
  -moz-animation-name: cd-reveal-down;
  animation-name: cd-reveal-down;
}
@media only screen and (min-width: 768px) {
  .mask.cd-intro-content p {
    padding-top: 20px;
  }
}

.mask.cd-intro-content h1::after,
.mask.cd-intro-content p {
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.mask.cd-intro-content .action-wrapper {
  overflow: hidden;
}
.mask.cd-intro-content .action-wrapper .cd-btn {
  opacity: 1;
  margin: 0 0 0 1.5em;
}
.mask.cd-intro-content .action-wrapper .cd-btn:first-of-type {
  margin-left: 0;
}

@-webkit-keyframes cd-loading-mask {
  0%, 100% {
    -webkit-transform: scaleX(0);
  }
  40%, 60% {
    -webkit-transform: scaleX(1);
  }
}
@-moz-keyframes cd-loading-mask {
  0%, 100% {
    -moz-transform: scaleX(0);
  }
  40%, 60% {
    -moz-transform: scaleX(1);
  }
}
@keyframes cd-loading-mask {
  0%, 100% {
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
  }
  40%, 60% {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
  }
}
