/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100%;
  font-size: 1.6rem;
  color: #222d33;
  background-color: #15374d;
  overflow-x: hidden;
}

a {
  color: #000000;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* --------------------------------

xnugget info

-------------------------------- */
.cd-nugget-info {
  position: absolute;
  width: 60%;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-nugget-info h1 {
  color: #fefffb;
  font-size: 2.4rem;
  margin: .6em 0;
}
.cd-nugget-info .cd-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  border-radius: 50em;
  background: #ff962c;
  padding: 1em 2em;
  color: #fefffb;
  font-weight: bold;
  font-size: 1.4rem;
  cursor: pointer;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
}
.cd-nugget-info .cd-btn:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.no-touch .cd-nugget-info .cd-btn:hover, .cd-nugget-info .cd-btn:focus {
  outline: none;
  background: #ffa346;
}

/* --------------------------------

Main Components

-------------------------------- */
.cd-tour-wrapper, .cd-tour-wrapper1, .cd-tour-wrapper2, .cd-tour-wrapper3, .cd-tour-wrapper4, .cd-tour-wrapper5 {
  position: fixed;
  z-index: 2;
  height: 90%;
  width: 90%;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;


  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s 0s, visibility 0s 0.4s;
  -moz-transition: opacity 0.4s 0s, visibility 0s 0.4s;
  transition: opacity 0.4s 0s, visibility 0s 0.4s;
}
.cd-tour-wrapper::before, .cd-tour-wrapper1::before, .cd-tour-wrapper2::before, .cd-tour-wrapper3::before, .cd-tour-wrapper4::before, .cd-tour-wrapper5::before {
  /* never visible - this is used in jQuery to check the current MQ */
  display: none;
  content: 'mobile';
}
.cd-tour-wrapper.active, .cd-tour-wrapper1.active, .cd-tour-wrapper2.active, .cd-tour-wrapper3.active, .cd-tour-wrapper4.active, .cd-tour-wrapper5.active {
  /* start tour */
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 0.4s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.4s 0s, visibility 0s 0s;
  transition: opacity 0.4s 0s, visibility 0s 0s;
}
@media only screen and (min-width: 600px) {
  .cd-tour-wrapper, .cd-tour-wrapper1, .cd-tour-wrapper2, .cd-tour-wrapper3, .cd-tour-wrapper4, .cd-tour-wrapper5 {
    max-width: 500px;
    max-height: 600px;
  }
}

.cd-single-step {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #fefffb;
  border-radius: 4px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.4s 0s, opacity 0s 0.4s;
  -moz-transition: -moz-transform 0.4s 0s, opacity 0s 0.4s;
  transition: transform 0.4s 0s, opacity 0s 0.4s;
}

.cd-single-step > span {
  /* dot indicator - visible on desktop version only */
  position: relative;
  z-index: 1;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: inherit;
  background: #ff962c;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
  /* replace text with background images */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  /* hide on mobile */
  display: none;
}
.cd-single-step::after {
  /* this is used to create the pulse animation */
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* hide on mobile */
  display: none;
}
.active .cd-single-step {
  /* tour started */
  -webkit-transform: scale(1) translateX(100%);
  -moz-transform: scale(1) translateX(100%);
  -ms-transform: scale(1) translateX(100%);
  -o-transform: scale(1) translateX(100%);
  transform: scale(1) translateX(100%);
  -webkit-transition: -webkit-transform 0.4s 0s, opacity 0.4s 0s;
  -moz-transition: -moz-transform 0.4s 0s, opacity 0.4s 0s;
  transition: transform 0.4s 0s, opacity 0.4s 0s;
}
.active .cd-single-step.move-left {
  -webkit-transform: scale(1) translateX(-100%);
  -moz-transform: scale(1) translateX(-100%);
  -ms-transform: scale(1) translateX(-100%);
  -o-transform: scale(1) translateX(-100%);
  transform: scale(1) translateX(-100%);
}
.active .cd-single-step.is-selected {
  /* visible step */
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s 0s;
  -moz-transition: -moz-transform 0.4s 0s;
  transition: transform 0.4s 0s;
}


@-webkit-keyframes cd-pulse {
  0% {
    box-shadow: 0 0 0 0 #ff962c;
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 150, 44, 0);
  }
}
@-moz-keyframes cd-pulse {
  0% {
    box-shadow: 0 0 0 0 #ff962c;
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 150, 44, 0);
  }
}
@keyframes cd-pulse {
  0% {
    box-shadow: 0 0 0 0 #ff962c;
  }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 150, 44, 0);
  }
}
.cd-single-step .cd-more-info {
  background: #2980B9;
  color: #ffffff;
  /* border: 5px solid #000; */
  z-index: 1;
  padding: 1.5em;
  width: 100%;
  text-align: center;
}
.cd-single-step .cd-more-info::after {
  clear: both;
  content: "";
  display: table;
}
.cd-single-step .cd-more-info::before {
  /* triangle next to the step description - hidden on mobile */
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border: 6px solid transparent;
  display: none;
}

.cd-single-step .cd-more-info p {
  font-size: 1.3rem;
  line-height: 1.6;
  margin-bottom: 16px;
  color: #ffffff;
  font-family: Helvetica, sans-serif;

}
.cd-single-step .cd-more-info a {
  font-size: 1.3rem;
  line-height: 1.6;
  margin-bottom: 8px;
  color: #ffffff;
}

.cd-single-step .cd-more-info .three {
-webkit-appearance: none;
-moz-appearance: none;
-ms-appearance: none;
-o-appearance: none;
appearance: none;
/* background-color: #df4f71; */
background: rgba(231,76,60, 1);
color: #ffffff;
border: none;
cursor: pointer;
display: inline-block;
padding: 0.5em 1.8em;
border-radius: 2px;
text-transform: uppercase;
letter-spacing: 0.05em;
width: 20em;
text-decoration: none;
border: 1px solid rgba(231,76,60, 1);
/* font-size: 1.3rem; */
/* font-weight: bold; */
}

.cd-single-step .cd-more-info a:hover {
  border: 1px solid white;
}

.cd-single-step .cd-more-info img {
  margin-bottom: 1.4em;
}
.cd-single-step .cd-more-info .cd-close {
  /* 'X' icon to skip the tour */
  position: absolute;
  top: 10px;
  right: 10px;
  width: 32px;
  height: 32px;
  /* replace text with background images */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.cd-single-step .cd-more-info .cd-close::after, .cd-single-step .cd-more-info .cd-close:before {
  /* these are the 2 lines of the 'X' icon */
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  width: 16px;
  border-radius: 4em;
  background-color: #cbccc8;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.cd-single-step .cd-more-info .cd-close::after {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.cd-single-step .cd-more-info .cd-close::before {
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.cd-single-step .cd-more-info span {
  /* step count e.g. 1 of 3*/
  float: left;
  padding-top: .1em;
  font-size: 1.3rem;
  font-family: Georgia, serif;
}


.cd-cover-layer {
  /* background cover layer - visible when tour is activated */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s 0s, visibility 0s 0.4s;
  -moz-transition: opacity 0.4s 0s, visibility 0s 0.4s;
  transition: opacity 0.4s 0s, visibility 0s 0.4s;
}
.cd-cover-layer.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.4s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.4s 0s, visibility 0s 0s;
  transition: opacity 0.4s 0s, visibility 0s 0s;
}

}

@-webkit-keyframes cd-fade-in {
  0%, 100% {
    opacity: 0;
  }
  14%, 40% {
    opacity: 1;
  }
}
@-moz-keyframes cd-fade-in {
  0%, 100% {
    opacity: 0;
  }
  14%, 40% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0%, 100% {
    opacity: 0;
  }
  14%, 40% {
    opacity: 1;
  }
}
/* --------------------------------

xapp prototype - no need to import this in production

-------------------------------- */
.cd-app-screen {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  height: 80%;
  background: #222d33;
  border-radius: 4px;
  box-shadow: 0 10px 60px #08151d;
}
.cd-app-screen::before, .cd-app-screen::after {
  content: '';
  position: absolute;
}
.cd-app-screen::before {
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background: #fefffb;
  border-radius: 4px 4px 0 0;
}
.cd-app-screen::after {
  top: 14px;
  left: 20px;
  height: 12px;
  width: 60px;
  background: #e4e5e1;
  border-radius: 3px;
}
