<!DOCTYPE html>
<html lang="en" ng-app="input">
<head>
    <meta charset="utf-8" />
    <title>RankSmith</title>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <!-- add styles -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />

    <!-- add javascripts -->
    <script src="js/jquery-2.0.3.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body>
    <header>
        <div class="wrap">
            <!-- logo -->
            <a href="#!"><img class="logo" src="images/logo.png" /></a>

            <!-- navigation menu -->
            <nav>
                <ul>
                    <li><a id="workBtn" href="#!/" ng-class="{activeSmall:part == 'projects'}" >Home</a></li>
                    <li><a id="aboutBtn" href="#!/about" ng-class="{activeSmall:part == 'about'}">About</a></li>
                    <li><a id="contactBtn" href="#!/contact" ng-class="{activeSmall:part == 'contact'}">Contact Us</a></li>
                    <li style="margin-right:0px"><a id="contactBtn" class="active" href="javascript: void(0)" ng-click="showForm()">Login</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- contact us form -->
    <div class="paddRow contactRow">
        <div class="wrap">
            <div class="head">Login</div>
            <img class="close" src="images/close.png" ng-click="closeForm()" />
            <form ng-submit="save()" class="contactForm" name="form" ng-hide="loaded">
                <input class="input" required="required" type="text" name="name" placeholder="Your Email" ng-model="message.name" /><br />
                <input class="input email" required="required" type="email" name="email" value="" placeholder="Your Password" ng-model="message.email" /> <br />
                <br />
                <button class="btn green">Login</button>
            </form>
        </div>
    </div>

    <!-- main content -->
    <div style="position:relative">
        <div style="width:100%" ng-view ng-animate="{enter: 'view-enter', leave: 'view-leave'}"></div>
    </div>

</body>
</html>
